import React from 'react';

import cls from './{{kebabCase name}}.module.scss';

export interface {{properCase name}}Props {
  children: React.ReactNode;
}

const {{properCase name}}: React.FC<{{properCase name}}Props> = ({ children }) => (
  <div className={cls.wrapper}>{children}</div>
);

export default {{properCase name}};
